@{
  Layout = "_Layout";
}

@model BestRestaurant.Models.Restaurant
@using BestRestaurant.Models

<h2>Add A New Restaurant</h2>
@using (Html.BeginForm())
{
  <p id="form">@Html.LabelFor(model => model.Name)</p>
  <p id="form">@Html.TextBoxFor(model => model.Name)</p>

  @foreach (Cuisine cuisine in ViewBag.CuisineId)
  {
    <p id="form">@Html.LabelFor(model => model.CuisineId, $"{cuisine.Name}")</p>
    <p id="form">@Html.RadioButtonFor(model => model.CuisineId, cuisine.CuisineId)</p>
  }

  <input type="submit" value="Add new Restaurant" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all cuisines", "Index", "Cuisines")</p>
